html {
  touch-action: manipulation;
}
body {
  background: #222;
}
canvas {
  background: #aaa;
}
.container {
  width : 600px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
.sub-container {
  width: 150px;
  display:inline-block;
}
button {
  width: 140px;
  height: 90px;
  border-radius: 15%;
  font-size: 48px;
  font-weight: bold;
  background-color: #eee;
  margin-bottom: 10px;
}

#btn_C {
  background-color: #fcc
}
#btn_BS {
  background-color: #add}
#btn_SQR {
  background-color: #add
}
#btn_DIV {
  background-color: #eec
}
#btn_MUL {
  background-color: #eec
}
#btn_MNS {
  background-color: #eec
}
#btn_PLS {
  background-color: #eec
}
#btn_PLMI {
  background-color: #bdb
}
#btn_EQ {
  background-color: #cfa
}